* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: none;
  color: rgb(236, 236, 236);
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

input {
  background-color:#020202 !important;
  border-bottom: 1px;
  border-bottom-color: whitesmoke;
  width: 100%;
}

#login-container {
  position: absolute;

  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  z-index: 40;
}

#login-input {
  position: absolute;
  width: 150px;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

button {
  color: aqua;
  background-color:#020202 !important;

}

.ranking-container {
  position: absolute;
  /* flex-direction: column; */
  align-items: center;
  right: 0;
  width: 300px;
  /* height: 25%; */
  display: flex;
  flex: 1;
  z-index: 60;
  font-size: 11px;
}

.ranking-players-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ranking-player {
  display: flex;
}

.ranking-username {
  display: flex;
  color: #42f4c5;
}

.ranking-asteroids {
  display: flex;
  color: #42f4c5;
}

.ranking-kills {
  display: flex;
  color: #42f4c5;
}

.ranking-score {
  display: flex;
  color: #42f4c5;
}